.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

    /* fijamos el encabezado */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;

    & li {
        list-style: none;
        padding: 0 20px;
    }

    & a{
        text-decoration: none;
        font: 16px;
        font-weight: 600;
        color: #1a1a1a;
        transition: 0.5 ease;
    }

    & a:hover{
        color: #088178;
    }
}