body {
    font-family: sans-serif;
    margin: 20px;
}

.lista-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.item-producto {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    opacity: 0.8;
}

.btn-ver-carrito {
    display: block;
    margin-top: 30px;
    text-align: center;
}

.btn-ver-carrito a {
    background-color: #008CBA;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-ver-carrito a:hover {
    opacity: 0.8;
}